* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  *::selection {
    background: #006241;
    color: #fff;
  }
  
  /* Estilos para el header */
  
  .header {
    background-color: #006241;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 3px 8px 15px 0px;
    z-index: 100;
  }
  
  .header__logo {
    width: 50px;
  }
  
  .header__container-login {
    display: none;
  }
  
  .header__nav {
    display: none;
  }
  
  .header__nav-link {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
  }
  
  .header__container-mobile i {
    color: #fff;
    font-size: 25px;
  }

  /* tamaño tablet */
@media (min-width: 768px) {
    .header__container-mobile {
      display: none;
    }
  
    .header__container-login {
      display: block;
    }
  
    .header__container-login i {
      color: #fff;
      font-size: 30px;
    }
  
    .header__nav {
      display: block;
    }
}